.contentLeft {
  position: relative;
  .real-name {
    width: 175px;
    height: 34px;
    border: 2px solid #0797ca;
    text-align: center;
    line-height: 34px;
    font-size: 20px;
    color: #3cc4ef;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .statis {
    margin-top: 30px;
    .statis-item {
      width: 300px;
      height: 65px;
      display: flex;
      margin-bottom: 20px;
      .statis-item_img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        background-color: #0738c9;
      }
      .statis-item_detail {
        flex: 1;
        background-color: #02194f;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title {
          color: #00c7f4;
        }
        .total {

        }
      }
    }
  }
}
